<h1 mat-dialog-title>Selected Parts for Service Plan</h1>
<div mat-dialog-content>
  <p>The following parts will be added:</p>
  <mat-list role="list">
    <mat-list-item *ngFor="let part of data.selectedParts" role="listitem" class="part-item">
      <div class="part-details">
        <div class="part-title">
          <strong>{{ part.partNumber }}</strong> - {{ part.name }}
        </div>
        <!-- <div class="part-summary">
          {{ part.summary }}
        </div> -->
      </div>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial (click)="showSuccess()">Confirm</button>
</div>
